<section class="about screen">
  <div class="about__wrap">
    <h2 class="title">о нас</h2>
    <ul class="about__list">
      <li class="about__item">
        <span class="about__icon about__icon--award"></span>
        <b>Мы производители</b><br />
        Вы получите гарантию<br />
        лучших цен
      </li>
      <li class="about__item">
        <span class="about__icon about__icon--truck"></span>
        <b>Бесплатная доставка</b><br />
        по всей России
      </li>
      <li class="about__item">
        <span class="about__icon about__icon--wallet"></span>
        <b>Ниже оптовых цен</b><br />
        конкурентов на 17-23%<br />
      </li>
      <li class="about__item">
        <span class="about__icon about__icon--home"></span>
        <b>163000 семей</b><br />
        встретили 2015 год<br />
        с нами
      </li>
    </ul>
  </div>
</section>
