<section class="contacts" style="background-image: url(img/map.jpg);">
  <div id="map"></div>
  <div class="contacts__wrap">
    <div class="contacts__caption">
      <h2 class="contacts__title">КОНТАКТЫ</h2>
      <ul class="contacts__list">
        <li class="contacts__item contacts__item--adres">Москва, Павелецкая наб., <br />дом 2, строение 5</li>
        <li class="contacts__item contacts__item--hour">Работаем без выходных <br /> с 9:00 до 18:00</li>
        <li class="contacts__item contacts__item--phone">8 (499) 136-44-76</li>
      </ul>
    </div>
  </div>
</section>
