<section class="order screen" style="background-image: url(img/bg-order.jpg);">
  <div class="order__wrap">
    <form action="#" class="order__form">
      <h2 class="order__title">Закажите до 10 ноября</h2>
      <div class="order__sub-title">на сумму от 100 000 рублей <br> и получите дополнительную скидку 15%</div>
      <p class="order__text">В декабре скидка 5%</p>
      <input type="text" placeholder="Ваше имя" class="order__input" />
      <input type="text" placeholder="Ваш телефон" class="order__input" />
      <input type="submit" value="ОСТАВИТЬ ЗАЯВКУ" class="order__btn" />
    </form>
  </div>
  <div class="order__footer">
      У нас уже заказали:<span class="order__count"><span>1</span><span>5</span></span>человек
  </div>
</section>
