<section class="production screen">
  <div class="production__wrap">
    <h2 class="production__title"></h2>
    <ul class="production__list">
      <li class="production__item">
        <div class="production__image"><img src="img/production-1.jpg" alt="" /></div>
        <div class="production__description">
          <p>Контроль качества продукции</p>
        </div>
      </li>
      <li class="production__item">
        <div class="production__image"><img src="img/production-2.jpg" alt="" /></div>
        <div class="production__description">
          <p>Пример выкладки</p>
        </div>
      </li>
      <li class="production__item">
        <div class="production__image"><img src="img/production-3.jpg" alt="" /></div>
        <div class="production__description">
          <p>Сопутствующие товары</p>
        </div>
      </li>
    </ul>
  </div>
</section>
