<section class="product screen" style="background-image: url(img/bg-candies.jpg);">
  <div class="product__wrap">
    <h2 class="title title--invert product__title">КАТАЛОГ ЕЛОЧЕК ИЗ КОНФЕТ</h2>
    <ul class="product__list">
      {% for i in range(0, 3) -%}
        <li class="product__item card-product">
        <div class="card-product__image">
          <img src="img/product.jpg" alt="" />
        </div>
        <div class="card-product__description">
          <h3 class="card-product__title">Датская ёлка <br />(1-1,25 метров)</h3>
          <p class="card-product__text">Небольшое описание елок <br />на 2 строки.</p>
          <ul class="card-product__price">
            <li>Цена за 10 шт. - <b>1 500 руб.</b></li>
            <li>Цена за 50 шт. - <b>5 500 руб.</b></li>
            <li>Цена за 100 шт. - <b>11 500 руб.</b></li>
          </ul>
        </div>
        <button class="card-product__btn">оставить заявку</button>
        </li>
      {%- endfor %}
    </ul>
  </div>
</section>
