<section class="reviews screen">
  <div class="reviews__wrap">
    <h2 class="title reviews__title">Отзывы о нас</h2>
    <ul class="reviews__list">
      <li class="reviews__item">
        <div class="reviews__image">
          <img src="img/reviews.jpg" alt="" />
        </div>
        <div class="reviews__description">
          <div class="reviews__bio">
            <p>Имя:.............</p>
            <p>Заказывал:.............</p>
            <p>Сумма заказа:..........</p>
          </div>
          <div class="reviews__text">
            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов</p>
            <button class="reviews__btn">Заказать этот же набор</button>
          </div>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__image">
          <img src="img/reviews.jpg" alt="" />
        </div>
        <div class="reviews__description">
          <div class="reviews__bio">
            <p>Имя:.............</p>
            <p>Заказывал:.............</p>
            <p>Сумма заказа:..........</p>
          </div>
          <div class="reviews__text">
            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
              "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию
              размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов</p>
              <button class="reviews__btn">Заказать этот же набор</button>
          </div>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__image">
          <img src="img/reviews.jpg" alt="" />
        </div>
        <div class="reviews__description">
          <div class="reviews__bio">
            <p>Имя:.............</p>
            <p>Заказывал:.............</p>
            <p>Сумма заказа:..........</p>
          </div>
          <div class="reviews__text">
            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
              "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию
              размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов</p>
              <button class="reviews__btn">Заказать этот же набор</button>
          </div>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__image">
          <img src="img/reviews.jpg" alt="" />
        </div>
        <div class="reviews__description">
          <div class="reviews__bio">
            <p>Имя:.............</p>
            <p>Заказывал:.............</p>
            <p>Сумма заказа:..........</p>
          </div>
          <div class="reviews__text">
            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
              "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию
              размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов</p>
              <button class="reviews__btn">Заказать этот же набор</button>
          </div>
        </div>
      </li>
    </ul>
  </div>

</section>
