<section class="set screen" style="background-image: url(img/bg-set.jpg);">
  <div class="set__wrap">
    <h2 class="title title--invert set__title">Наши эффективные наборы</h2>
    <div class="sub-title sub-title--invert set__sub-title">Мы разработали для Вас готовые наборы на основе статистики наших клиентов!</div>
    <ul class="set__list">
      <li class="set__item">
        <div class="set__image">
          <img src="img/set.jpg" alt="">
        </div>
        <ul class="set__composition">
          <li>40 см. - 100 шт.</li>
          <li>80 см. - 50 шт.</li>
          <li>1500 см. - 30 шт.</li>
          <li>2000 см. - 50 шт.</li>
        </ul>
        <div class="set__description">
          <p>Срок реализации - <b>1 месяц</b></p>
          <p>Ваша закупка - <b>1 месяц</b></p>
          <p>Ваша закупка - <b>1 месяц</b></p>
          <button class="set__btn">оставить заявку</button>
        </div>
      </li>
      <li class="set__item">
        <div class="set__image">
          <img src="img/set.jpg" alt="" />
        </div>
        <ul class="set__composition">
          <li>40 см. - 100 шт.</li>
          <li>80 см. - 50 шт.</li>
          <li>1500 см. - 30 шт.</li>
          <li>2000 см. - 50 шт.</li>
        </ul>
        <div class="set__description">
          <p>Срок реализации - <b>1 месяц</b></p>
          <p>Ваша закупка - <b>1 месяц</b></p>
          <p>Ваша закупка - <b>1 месяц</b></p>
          <button class="set__btn">оставить заявку</button>
        </div>
      </li>
    </ul>
  </div>
</section>
